.adv3 {
	background-color: #f3f1d6;
  color: #3a3a3a;
}

.adv3__content {
  padding: 50px 0;
  background-image: url("../img/back-adv3.png");
  background-repeat: no-repeat;
  background-position: 400px -100px;
}

.adv3__path1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 20px 25px 20px;
  font-weight: 700;
  line-height: 48px;

  &::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 232px;
    height: 89px;
    background-image: url("../img/stik.png");
  }
}

.adv3__title--span {
  font-size: 58px;
}

.adv3__title {
  margin: 0;
	font-size: 30px;
	text-transform: uppercase;
}

.adv3__subtitle {
  margin: 0;
  font-size: 24px;
}

.adv3__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

  &--1 {
    padding: 5px 10px;
    font-size: 24px;
    background-color: #f3e905;
    text-transform: uppercase;
  }

  &--2 {
    margin: 0;
    font-size: 20px;
  }

  &--3 {
    max-width: 645px;
    padding: 10px 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #3a3a3a;
  }
}

.adv3__path2 {
  padding: 60px 0;
  background-image: url("../img/back-adv3-2.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.adv3__subtitle2 {
  max-width: 805px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
}

.adv3__path2-content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.adv3__state-box {
  position: relative;
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::after {
    content: "";
    position: absolute;
    top: 300px;
    right: 100px;
    width: 94px;
    height: 67px;
    background-image: url("../img/adv3-arrow.png");
    transform: rotate(90deg);
  }
}

.adv3__state {
  max-width: 300px;
  margin: 0;
  padding: 25px;
  padding-right: 15px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 0 9px rgba(39, 39, 39, 0.33);
  background-color: #ffffff;
}

.adv3__list {
  @include list;
  max-width: 315px;
  padding: 5px 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: #f3e905;
}

.adv3__item:not(:last-child) {
  padding: 10px 0;
  border-bottom: 1px solid #9e9e9e;
}

@media screen and (min-width: 768px) {
  .adv3__path1 {
    padding: 25px 505px 25px 25px;
  }

  .adv3__path2-content {
    flex-direction: row;
    align-items: stretch;
  }

  .adv3__state-box {
    position: relative;
    margin-right: 150px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -125px;
      width: 94px;
      height: 67px;
      background-image: url("../img/adv3-arrow.png");
      transform: rotate(0);
    }
  }

  .adv3__title {
    font-size: 36px;
  }
}
