.jaluzi-constructor {
  padding: 50px 0;
  background-color: #e4e4e4;
  background-image: url("../img/back-jac-constr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jaluzi-constructor__content {
  display: flex;
  flex-wrap: wrap;
}

.jaluzi-constructor__title {
  flex-basis: 100%;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.jaluzi-constructor__list-box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding-top: 0;
}

.jaluzi-constructor__btn {
  display: flex;
  justify-content: space-between;
  padding: 8px 35px;
  margin: 0 0 4px;
  color: #909090;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #3a3a3a;
  border: none;
  cursor: pointer;

  &--span {
    text-transform: none;
    font-weight: 400;
    display: none;
  }

  &--active {
    color: #000000;
    background-color: #ede408;
  }
}

.jaluzi-constructor__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  height: 130px;

  overflow-y: scroll;

  &--hide {
    display: none;
  }
}

.jaluzi-constructor__item {
  flex-basis: 23%;
  margin: 2px 2px;
}

.jaluzi-constructor__pic {
  position: relative;
  width: 290px;
  height: 290px;


  &--hide {
    display: none;
  }
}

.jaluzi-constructor__svg {
  position: relative;
  z-index: 2;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;

  &--big {
    display: none;
  }
}

.jaluzi-constructor__svg-path {
  fill: #b2dfdb;
}

.jaluzi-constructor__full-img {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
}

.jaluzi-constructor__color {
  width: 100%;
  height: 40px;
}

.jaluzi-constructor__color2 {
  width: 100%;
  height: 40px;
}

@media screen and (min-width: 500px) {
  .jaluzi-constructor__pic {
    width: 614px;
    height: 700px;
  }

  .jaluzi-constructor__svg {
    display: none;
    position: relative;
    z-index: 2;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;

    &--big {
      display: block;
    }
  }


}

@media screen and (min-width: 768px) {
  .jaluzi-constructor__btn {
    padding: 20px 35px;
    margin: 5px 0;
    font-size: 20px;

    &--span {
      display: block;
    }
  }

  .jaluzi-constructor__list-box {
    flex-basis: 45%;
    padding-top: 50px;
  }

  .jaluzi-constructor__color {
    width: 102px;
    height: 102px;
  }

  .jaluzi-constructor__color2 {
    width: 102px;
    height: 102px;
  }

  .jaluzi-constructor__list {
    height: 353px;
  }

  .jaluzi-constructor__item {
    flex-basis: 24%;
    margin: 10px 0;
  }
}
