.manufacture {
  padding: 50px 0 30px;
  color: #fff;
  background-color: #2d2d2d;
}

.manufacture__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;

  &--span {
    font-size: 58px;
  }
}

.manufacture__list {
  @include list;
}

.manufacture__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  // background-image: url("../img/back-rehau.jpg");
  // background-repeat: no-repeat;
  // background-position: center;

  // &--brusbox {
  //   background-image: url("../img/back-brusbox.jpg");
  // }
}

.manufacture__description {
  flex-basis: 100%;
  padding: 0 10px 0 25px;
  border-left: 1px solid;
}

.manufacture__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .manufacture__title {
    font-size: 36px;
  }

  .manufacture__description {
    flex-basis: 50%;
  }
}
