.slider-price3 {
  display: none;
  text-align: left;
}

.slider-price3.active {
  display: block;
}

.slider-price3__list {
  @include list;
  display: flex;
  flex-direction: column;
}

.slider-price3__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 68%;
  margin: 5px auto;

  &--hide {
    display: none;
  }

  &--show {
    display: flex;
  }
}

.slider-price3__label {
  display: block;
  margin-bottom: 5px;
  width: 25%;
  font-size: 16px;
  font-weight: 700;
}

.slider-price3__check-box {
  width: 70%;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid rgb(169, 169, 169);
}

.slider-price3__check {
  margin: 0 5px 0 20px;
}

.slider-price3__select {
  flex-shrink: 0;
  padding: 10px 20px;
  width: 70%;
}

.slider-price3__textarea {
  flex-shrink: 0;
  padding: 10px 20px 11px;
  width: 70%;
  resize: none;
}

.slider-price3__input {
  flex-shrink: 0;
  padding: 10px 20px;
  width: 70%;
}
