.what {
	padding: 20px;
	color: #000000;
	text-align: center;
	background-image: url('../img/back2s.jpg');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 723px;
}

.what__title {
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.what__text {
	font-size: 30px;
	font-weight: 500;
}

@media screen and (min-width: 768px) {
  .what {
    padding: 100px;
  }
}
