.wood-advantage {
	display: flex;
	flex-wrap: wrap;
  padding: 0;
}

.wood-advantage__title {
	margin: 80px 0 0;
	max-width: 625px;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;

  &--al {
    max-width: 700px;
  }
}

.wood-advantage__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.wood-advantage__item {
	position: relative;
	z-index: -1;
	padding: 0 70px 60px 15px;
	flex-basis: 100%;
	color: #3a3a3a;
	font-size: 20px;
	font-weight: 700;
	background-image: url("../img/item1.png");
	background-repeat: no-repeat;
	background-position: right bottom;

	&--2 {
		padding: 0 110px 60px 15px;
		background-image: url("../img/item2.png");
	}

	&--3 {

		padding-right: 100px;

		&::before {
			content: "";
			position: absolute;
			z-index: -3;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #eae8c2;
			background-image: url("../img/item3.png");
			background-repeat: no-repeat;
			background-position: 240px bottom;
		}
	}

	&--4::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #eae8c2;
		background-image: url("../img/item4.png");
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	&--5 {
		background-color: #424242;
		background-image: url("../img/item5.png");
		color: #ffffff;
	}

	&--6 {
		color: #ffffff;

		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #2f2f2f;
			background-image: url("../img/item6.png");
			background-repeat: no-repeat;
			background-position: 240px bottom;
		}
	}

  &--6al {
    color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #2f2f2f;
      background-image: url("../img/adv-al6.png");
      background-repeat: no-repeat;
      background-position: 240px bottom;
    }
  }
}

.wood-advantage__card-title {
	font-size: 20px;
	font-weight: 700;
}

.wood-advantage__card-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

@media screen and (min-width: 768px) {
  .wood-advantage__item {
    position: relative;
    z-index: -1;
    padding: 0 70px 60px 15px;
    flex-basis: 400px;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 700;
    background-image: url("../img/item1.png");
    background-repeat: no-repeat;
    background-position: right bottom;

    &--2 {
      padding: 0 110px 60px 15px;
      background-image: url("../img/item2.png");
    }

    &--3 {

      padding-right: 100px;

      &::before {
        content: "";
        position: absolute;
        z-index: -3;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #eae8c2;
        background-image: url("../img/item3.png");
        background-repeat: no-repeat;
        background-position: 240px bottom;
      }
    }

    &--4::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #eae8c2;
      background-image: url("../img/item4.png");
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    &--4al {
      padding-right: 115px;
    }

    &--5 {
      background-color: #424242;
      background-image: url("../img/item5.png");
      color: #ffffff;
    }

    &--6 {
      color: #ffffff;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2f2f2f;
        background-image: url("../img/item6.png");
        background-repeat: no-repeat;
        background-position: 240px bottom;
      }
    }

    &--6al {
      color: #ffffff;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2f2f2f;
        background-image: url("../img/adv-al6.png");
        background-repeat: no-repeat;
        background-position: 240px bottom;
      }
    }
  }
}



@media screen and (min-width: 1024px) {
  .wood-advantage {
    padding: 0 15px;
  }

  .wood-advantage__title {
    padding-left: 15px;
    font-size: 36px;
  }
}

@media screen and (min-width: 1240px) {
  .wood-advantage__item {

    &--3 {

      &::before {
        top: -300px;
        right: -1000px;
      }
    }

    &--4::before {
      left: -1000px;
    }

    &--6 {

      &::before {
        right: -1000px;
      }
    }

    &--6al {

      &::before {
        right: -1000px;
      }
    }
  }
}
