.advantage {	
	background-image: linear-gradient(135deg, #3f3f3f 15%, #3a3a3a 15%, #3a3a3a 55%,
	                   #454545 55%, #454545 70%, #414141 70%, #414141 80%, #3a3a3a 80%, #3a3a3a 95%);
}

.advantage__content {
	position: relative;
	padding: 15px;
	padding-bottom: 80px;	
	text-align: center;
	color: #fff;	
}

.advantage__back {
	position: absolute;
	bottom: -7px;
	min-width: 90%;
	min-height: 100px;
	margin: auto;
	background-image: url("../img/advantage.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}

.advantage__title {	
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

.advantage__subtitle {
	margin: 10px 0 45px;
	font-size: 22px;
	font-weight: 400;
}

.advantage__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: auto;
	max-width: 1046px;
	list-style: none;
}

.advantage__item {
	display: flex;
	align-items: center;
	max-width: 305px;
	margin-bottom: 20px;
}

.advantage__number {
	margin: 0;
	font-size: 53px;
	font-weight: 400; 
	text-transform: uppercase;
}

.advantage__text {
	text-align: left;
	margin: 0;
	padding-left: 10px;
	font-size: 19px;
	font-weight: 400;
}

@media screen and (min-width: 768px) {
	.advantage__content {
		padding-bottom: 180px;
	}

	.advantage__list {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.advantage__item1 {
		width: 200px;
		margin-right: 20px;
	}

	.advantage__item2 {
		min-width: 275px;
	}

	.advantage__item3 {
		max-width: 235px;
	}

	.advantage__text {
		font-size: 16px;
	}

	.advantage__back {
		bottom: -12px;
		min-height: 180px;
	}
}

@media screen and (min-width: 1024px) {
	.advantage__content {
		padding-bottom: 320px;
		padding-top: 70px;
	}

	.advantage__back {
		min-height: 240px;
		bottom: -17px;
	}

	.advantage__title {
		font-size: 36px;
	}

	.advantage__subtitle {
		font-size: 36px;
	}
}