.advantage {	
	background-image: linear-gradient(135deg, #3f3f3f 15%, #3a3a3a 15%, #3a3a3a 55%,
	                   #454545 55%, #454545 70%, #414141 70%, #414141 80%, #3a3a3a 80%, #3a3a3a 95%);
}

.advantage__content {
	position: relative;
	padding: 30px;
	height: 100vh;
	text-align: center;
	color: #fff;
}

.advantage__title {
	margin-bottom: 10px;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.advantage__subtitle {
	margin: 10px 0 45px;
	font-size: 36px;
	font-weight: 400;
}

.advantage__list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	list-style: none;
}

.advantage__item {
	display: flex;
	align-items: center;
	width: 305px;
}

.advantage__list::after {
	content: '';
	position: absolute;
	width: 80%;
	height: 350px;
	bottom: -25px;
	background-image: url("../img/advantage.png");
	background-repeat: no-repeat;
	background-position: 150px bottom;
}

.advantage__number {
	margin: 0;
	font-size: 53px;
	font-weight: 400; 
	text-transform: uppercase;
}

.advantage__text {
	text-align: left;
	margin: 0;
	padding-left: 10px;
	font-size: 19px;
	font-weight: 400;
}