.catalog {
	background-color: #fff;
}

.catalog__content {	
	padding: 15px;
}

.catalog__box {
	display: flex;	
}

.catalog__main-title {
	margin-bottom: 45px;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.catalog__list {
	display: flex;
	flex-direction: column;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog__item {
	display: flex;		
	background-color: #eae8c2;	
}

.catalog__item2 {
	margin: 8px 0;
}

.catalog__item.active {
	color: #fff;
	background-color: #3a3a3a;
}

.catalog__title {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.catalog__text-box {
	padding: 10px;
}

.catalog__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.catalog__img {
	margin: 13px 10px;
}

.catalog__img-fool {
	display: none;
	background-image: url("../img/wool.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media screen and (min-width: 1024px) {
	.catalog {
		padding: 30px 0;
	}

	.catalog__list {
		max-width: 470px;
	}

	.catalog__img-fool {
		display: block;
		width: 50%;
		margin-left: 20px;
	}

	.catalog__content {	
		padding: 15px 15px 50px;
	}
}