.measure {
	background-color: #eae8c2;
}

.measure__content {
	padding: 50px 25px;
	background-repeat: no-repeat;
	background-position: right bottom;
}

.measure__title {
	color: #363636;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.measure__text {
	max-width: 535px;
}

.measure__form {
	max-width: 335px;
}

.measure__input {
	display: block;
	padding: 15px 10px;
	margin-bottom: 15px;
}

.measure__btn {
	margin: 0;
	padding: 18.5px 10px;
	text-align: center;
  border: none;
}

.measure__text--red {
	color: red;
}

@media screen and (min-width: 1024px) {
	.measure__content {
		padding: 50px 150px;
    background-image: url("../img/man2.png");
	}
}
