.price {
	background-image: url("../img/back-price.jpg");
}

.price__content {
	padding: 1px 15px;
	text-align: center;
}

.price__title {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.price__red {
	color: #e31e24;
}

.price__text {
	max-width: 615px;
	margin: auto;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.status-bar {
	background-color: yellow;
	background: linear-gradient(135deg, #FFEB3B 4%, #FFf 4%,
	                                    #FFf 8%, #FFEB3B 8%,
	                                    #FFEB3B 12%, #FFF 12%,
	                                    #FFF 16%, #FFEB3B 16%,
	                                    #FFEB3B 20%, #FFF 20%,
	                                    #FFF 24%, #FFEB3B 24%,
	                                    #FFEB3B 28%, #FFF 28%,
	                                    #FFF 32%, #FFEB3B 32%
		                                );
	margin: auto;
	max-width: 830px;
	border-radius: 10px;
}

.status-bar.status2 {
	background: linear-gradient(135deg, #FFEB3B 4%, #FFf 4%,
	                                    #FFf 8%, #FFEB3B 8%,
	                                    #FFEB3B 12%, #FFF 12%,
	                                    #FFF 16%, #FFEB3B 16%,
	                                    #FFEB3B 20%, #FFF 20%,
	                                    #FFF 24%, #FFEB3B 24%,
	                                    #FFEB3B 28%, #FFF 28%,
	                                    #FFF 32%, #FFEB3B 32%,
	                                    #FFEB3B 36%, #FFf 36%,
	                                    #FFf 40%, #FFEB3B 40%,
	                                    #FFEB3B 44%, #FFF 44%,
	                                    #FFF 48%, #FFEB3B 48%,
	                                    #FFEB3B 52%, #FFF 52%,
	                                    #FFF 56%, #FFEB3B 56%,
	                                    #FFEB3B 60%, #FFF 60%,
	                                    #FFF 64%, #FFEB3B 64%
		                                );
}

.status-bar.status3 {
  background: linear-gradient(135deg, #FFEB3B 4%, #FFf 4%,
                                      #FFf 8%, #FFEB3B 8%,
                                      #FFEB3B 12%, #FFF 12%,
                                      #FFF 16%, #FFEB3B 16%,
                                      #FFEB3B 20%, #FFF 20%,
                                      #FFF 24%, #FFEB3B 24%,
                                      #FFEB3B 28%, #FFF 28%,
                                      #FFF 32%, #FFEB3B 32%,
                                      #FFEB3B 36%, #FFf 36%,
                                      #FFf 40%, #FFEB3B 40%,
                                      #FFEB3B 44%, #FFF 44%,
                                      #FFF 48%, #FFEB3B 48%,
                                      #FFEB3B 52%, #FFF 52%,
                                      #FFF 56%, #FFEB3B 56%,
                                      #FFEB3B 60%, #FFF 60%,
                                      #FFF 64%, #FFEB3B 64%,
                                      #FFEB3B 68%, #FFf 68%,
                                      #FFf 72%, #FFEB3B 72%,
                                      #FFEB3B 76%, #FFF 76%,
                                      #FFF 80%, #FFEB3B 80%,
                                      #FFEB3B 84%, #FFF 84%,
                                      #FFF 88%, #FFEB3B 88%,
                                      #FFEB3B 92%, #FFF 92%,
                                      #FFF 96%, #FFEB3B 96%,
                                      #FFEB3B 100%, #FFF 100%
                                    );
}

.status-bar__text {
	padding: 5px;
}

@media screen and (min-width: 768px) {
	.price__content {
		padding: 60px 15px;
	}

  .price__text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
	.price__title {
		font-size: 36px;
		margin-bottom: 0;
	}
}
