.reviews {
	background-image: url("../img/back-rev.jpg");
}

.reviews__content {
	padding: 20px 15px;
	max-width: 970px;
}

.reviews__title {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.reviews__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.reviews__item {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 50px 15px;
	background-color: #ffffff;
}

.reviews__text {
	font-size: 16px;
	font-weight: 400;
}

.reviews__autor {
	font-size: 18px;
	font-weight: 700;
}

.reviews__btn {
	min-width: 105px;
	height: 105px;
	box-shadow: 0 5px 6px rgba(161, 155, 17, 0.91);
	background-color: yellow;
  background-image: url(../img/play.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.quote-box {
  max-width: 70%;
}

.reviews .owl-drag {
	position: relative;
}

.reviews .owl-nav {
	position: absolute;
	top: 20%;
	display: none;
	justify-content: space-between;
	align-items: center;
	width: 115%;
	margin: 0 -70px;
	font-size: 100px;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.reviews__title {
		font-size: 36px;
	}

	.reviews__content {
		padding: 70px 15px 100px;
		max-width: 970px;
	}

  .reviews .owl-nav {
    display: flex;
  }
}
