.page-header {  
  background-image: url("../img/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -700px;
}

.page-header--page2 {
  background-image: url("../img/back2.jpg");
}

.overlay {
  background-color: rgba(255,255,255,0.7);
}

.header-info {
  display: flex;
  flex-direction: column;  
  align-items: center;  
  padding: 15px 15px 0;  
}

.logo {
  width: 198px;
  height: 43px;
  margin-bottom: 25px;
}

.header-form__label {
  color: #1c1b17;  
  font-size: 16px;
  font-weight: 500;
}

.header-form__select {
  color: #e31e24;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  border: none;
  background-color: transparent;
}

.adres {
	margin: 0;
	width: 200px;
	padding: 10px 0 10px 30px;
  color: #1c1b17;  
  font-size: 16px;
  font-weight: 500;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.phone {
  margin: 0 20px;
}

.phone__number {
  display: block;
  padding-left: 30px;
  color: #1c1b17;
  
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  background-repeat: no-repeat;
  background-position: left center;
}

.phone__number1 {
	background-image: url("../img/phone.svg");
}

.phone__number2 {
	background-image: url("../img/phone2.svg");
	background-position: 4px center;
}

.social {
  width: 200px;
  justify-content: space-around;
  display: flex;
  padding: 20px;
}

.social__link {
  height: 32px;
  background-color: #e31e24;
  background-image: linear-gradient(to top, rgba(48, 48, 48, 0.9) 0%, rgba(77, 77, 77, 0.9) 100%);
}

.social__svg {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .page-header {
    background-position: center;
    height: 100vh;
  }
  .header-info {
    flex-direction: row;
    justify-content: space-between;    
    flex-wrap: wrap;      
  }

  .header-form {
    width: 45%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .header-info {
    padding: 15px;
  }

  .logo {
    margin-bottom: 0;
  }

  .header-form {
    width: auto;
  }

  .social {
    width: 80px;
    justify-content: space-between;
    padding: 0;
  }
}

