.text_police_check {
  font-size: 13px;
  margin: 10px 0;
}

.error {
  font-size: 13px;
  color: red;
}

.in_block_price {
  max-width: 1230px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  min-height: 370px;
}

#contact_form {
  max-width: 450px;
  text-align: center;
}
