.popup {
  display: none;
  position: absolute;
  z-index: 15;
  top: -442px;
  left: 50%;
  margin-left: -500px;
  width: 1000px;
  height: 600px;
  overflow-y: scroll;
  background-color: #413f3f;
  padding: 25px;

  &--show {
    display: block;
  }
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popup ol {
  list-style: none;
  counter-reset: li;
}

.popup li:before {
  counter-increment: li;
  content: counters(li,".") ". ";
}

.footer__popup-btn {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.footer {
  position: relative;

}

.overlay-popup {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

  &--hide {
    display: none;
  }
}
