.slider-price2 {
  display: none;
  text-align: left;
}

.slider-price2.active {
  display: block;
}

.slider-price2__list {
  @include list;
  display: flex;
  flex-direction: column;
}

.slider-price2__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 68%;
  margin: 5px auto;

  &--hide {
    display: none;
  }

  &--show {
    display: flex;
  }
}

.slider-price2__label {
  display: block;
  margin-bottom: 5px;
  width: 25%;
  font-size: 16px;
  font-weight: 700;
}

.slider-price2__select {
  flex-shrink: 0;
  padding: 10px 20px;
  width: 70%;
}

@media (max-width: 600px) {
  .slider-price2__item {
    flex-direction: column;
  }

  .slider-price2__label {
    width: 100%;
  }

  .slider-price2__select {
    width: 100%;
  }

  .slider-price2__item {
    width: 100%;
  }
}
