.what-al {
  padding: 69px 25px;
  color: #424242;
  background-color: #fff;
  background-image: url("../img/back-al1s.png");
  background-repeat: no-repeat;
  background-position: right;
}

.what-al__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.what-al__title {
  max-width: 330px;
  padding: 15px 20px;
  background-color: #ede408;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.what-al__bold-text {
  max-width: 490px;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
}

.what-al__text {
  max-width: 400px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .what-al__bold-text {
    font-size: 36px;
    line-height: 42px;
  }
}
