@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 400;
 }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: 700; }

html {
  margin: 0;
  padding: 0; 
}

body {
  width: 100%;
  font-family: "Gotham Pro", "Tahoma", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  overflow-x:hidden; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #000;
  text-decoration: none; }

.container {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px; }