.banner {
  height: 101%;
  padding: 30px 15px;
  text-align: center;
  background-image: url("../img/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &--page2 {
    background-image: url("../img/background-woodsWindow.jpg");
  }

  &--plastic {
    background-image: url("../img/back_plastic.jpg");
  }

  &--al {
    background-image: url("../img/back-al.png");
  }

  &--jaluzi {
    background-image: url("../img/back-jaluzi.jpg");
  }

  &--glass {
    padding: 0;
    background-image: none;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 260px;
      background-image: url("../img/glass-banner.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.banner__glass-text {
  padding: 20px;
}

.banner__title {
  margin: 0;
  color: #343434;
  font-size: 28px;
  font-weight: 700;
}

.banner__title_span {
  font-size: 60px;
  line-height: 80px;
  text-transform: uppercase;
}

.banner__text {
  font-size: 24px;
  font-weight: 400;
  margin: 15px 0;
  color: #000;
}

.banner__text2 {
  font-size: 20px;
  color: #343434;
}

.banner__text_red {
  color: #e31e24;
  font-weight: 700;
}

.banner__text--page2 {
  color: #343434;
  font-size: 17px;
  font-weight: 400;
}

.banner__btn {
  display: block;
  padding: 20px 35px;
  max-width: 312px;
  margin: 30px auto;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.46);
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0 5px 6px rgba(161, 155, 17, 0.91);
  background-image: linear-gradient(to top, #ebe209 0%, #fff500 100%);
}

@media screen and (min-width: 768px) {
  .banner {
    height: 77%;
    padding: 60px 15px;

    &--glass {
      padding: 0;
    }
  }

  .banner__content {
    max-width: 695px;
    margin: 0 auto;

    &--glass {
      max-width: none;
    }
  }

  .banner__title {
    font-size: 48px;
  }

  .banner__text {
    font-size: 36px;
    font-weight: 400;
    margin: 15px 0;
    color: #000;
  }

  .banner__text--page2 {
    font-size: 30px;
  }

  .banner__text2 {
    font-size: 32px;
  }

  .banner__glass-text {
    padding: 60px 50px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 101%;
    margin-top: -150px;
    padding: 180px 15px 30px;

    &--glass {
      padding: 0;
      height: 640px;
      max-width: 1230px;
      margin: auto;
      display: flex;
      position: relative;
      margin-bottom: 184px;

      &::before {
        height: auto;
        position: absolute;
        height: 100%;
        left: 40%;
      }
    }
  }

  .banner__content {
    padding: 100px 0 80px;
    max-width: 705px;
  }

  .banner__glass-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: -1;
    max-width: 460px;
    margin-right: auto;
    text-align: left;
  }

  .banner__title {
    font-size: 48px;
  }

  .banner__btn:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .banner__btn {
    &--glass {
      margin: 30px 0;
      max-width: 300px;
    }
  }
}


